Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized in a way that enables efficient storage, retrieval, and manipulation of data. A database can be thought of as a digital filing cabinet where information is stored and can be accessed and modified as needed.

SQL (Structured Query Language) and NoSQL (Not Only SQL) are two types of database management systems that differ in their data models, querying languages, and scalability.

SQL databases are relational databases that store data in tables with predefined relationships between them. They use a structured query language (SQL) to manipulate and retrieve data. SQL databases are great for complex queries that require data from multiple tables, and they are highly scalable.

NoSQL databases, on the other hand, are non-relational databases that do not use a fixed schema or table structure. NoSQL databases use flexible data models such as document-oriented, key-value, graph, and column-family models. NoSQL databases are great for storing and retrieving large amounts of unstructured data, and they are highly scalable and can handle big data.

In summary, SQL databases are great for complex queries and data with well-defined relationships, while NoSQL databases are great for storing and retrieving large amounts of unstructured data and can handle big data.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) is a subset of SQL (Structured Query Language) that is used to create, modify, and delete database objects such as tables, indexes, and views. DDL statements are used to define the structure of the database, and they do not manipulate data.

The following are some common DDL statements used in SQL:

CREATE: The CREATE statement is used to create a new database object such as a table, view, or index. For example, the following SQL statement creates a new table called "customers":

CREATE TABLE customers (
  id INT PRIMARY KEY,
  name VARCHAR(50),
  email VARCHAR(100)
);

DROP: The DROP statement is used to delete a database object such as a table, view, or index. For example, the following SQL statement drops the "customers" table:

DROP TABLE customers;

ALTER: The ALTER statement is used to modify the structure of a database object such as a table, view, or index. For example, the following SQL statement adds a new column called "phone" to the "customers" table:

ALTER TABLE customers ADD phone VARCHAR(20);

TRUNCATE: The TRUNCATE statement is used to delete all the data from a table without deleting the table structure. For example, the following SQL statement truncates the "customers" table:

TRUNCATE TABLE customers;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language) is a subset of SQL (Structured Query Language) that is used to insert, update, and delete data from a database. DML statements are used to modify the data in a database, and they do not affect the structure of the database.

The following are some common DML statements used in SQL:

INSERT: The INSERT statement is used to add new data to a database table. For example, the following SQL statement inserts a new record into the "customers" table:

INSERT INTO customers (name, email, phone) VALUES ('John Doe', 'johndoe@example.com', '555-1234');

UPDATE: The UPDATE statement is used to modify existing data in a database table. For example, the following SQL statement updates the phone number for the customer with the ID of 1:

UPDATE customers SET phone = '555-4321' WHERE id = 1;

DELETE: The DELETE statement is used to remove data from a database table. For example, the following SQL statement deletes the record for the customer with the ID of 2:

DELETE FROM customers WHERE id = 2;

Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language) is a subset of SQL (Structured Query Language) that is used to retrieve data from a database. DQL statements are used to select, filter, and sort data in a database.

The most commonly used DQL statement is the SELECT statement, which is used to retrieve data from one or more tables in a database. Here is an example of how to use the SELECT statement:

Suppose you have a table named "employees" with the following columns: "id", "name", "department", and "salary". You can use the SELECT statement to retrieve all the data from the "employees".

SELECT * FROM employees;

SELECT name, salary FROM employees;
This will return only the "name" and "salary" columns from the "employees" table. You can also use the WHERE clause to filter the results based on specific conditions, like this:


SELECT name, department FROM employees WHERE salary > 50000;
This will return the "name" and "department" columns for all employees whose salary is greater than 50000.

Q5. Explain Primary Key and Foreign Key.

A primary key is a column or combination of columns in a table that uniquely identifies each row of data. It is a way to enforce the integrity of the data and ensure that each row in the table is unique. The primary key is also used to link the data in one table to the data in another table through the use of foreign keys. Some examples of primary keys include social security numbers, student IDs, and email addresses.

A foreign key is a column or combination of columns in one table that refers to the primary key of another table. It is used to create a relationship between the data in two tables. The foreign key constraint ensures that the data in the table with the foreign key matches the data in the table with the primary key. The foreign key is also used to enforce referential integrity between tables, which means that data cannot be inserted or updated in a way that violates the relationships between the tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector


conn = mysql.connector.connect(
  host="localhost",
  user="username",
  password="password",
  database="databasename"
)


cursor = conn.cursor()

cursor.execute("SELECT * FROM customers")

result = cursor.fetchall()

for row in result:
    print(row)


cursor.close()
conn.close()

Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query is as follows:

FROM clause: This clause specifies the table or tables from which the data is retrieved.

WHERE clause: This clause filters the data based on a specified condition or set of conditions.

GROUP BY clause: This clause groups the data based on one or more columns.

HAVING clause: This clause filters the grouped data based on a specified condition or set of conditions.

SELECT clause: This clause selects the columns to be displayed in the result set.

DISTINCT clause: This clause removes duplicate rows from the result set.

ORDER BY clause: This clause sorts the result set based on one or more columns.

LIMIT clause: This clause limits the number of rows returned in the result set.