Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

MongoDB is a popular document-oriented NoSQL database that stores data in flexible, JSON-like documents. It is designed to handle large amounts of unstructured and semi-structured data, making it a good fit for modern web and mobile applications.

Non-relational databases, also known as NoSQL databases, are databases that do not follow the traditional relational database model with tables, rows, and columns. Instead, they use a variety of data models, such as key-value, document, or graph, to store and organize data. Non-relational databases offer advantages such as scalability, flexibility, and faster performance for certain use cases, but they may also have limitations, such as less support for complex transactions or queries.

MongoDB is often preferred over SQL databases in scenarios where there is a need for:

Flexible data models: Since MongoDB uses a document-based data model, it can easily store and retrieve data with varying structures, making it a good choice for applications that deal with semi-structured or unstructured data.

High scalability and availability: MongoDB is designed to scale horizontally, which means it can handle large volumes of data and traffic by adding more nodes to a cluster. It also has built-in features such as replication and sharding to improve availability and fault tolerance.

Rapid development and prototyping: MongoDB's flexible schema and query language make it easy to iterate quickly during the development process, allowing developers to test and experiment with different data models without the need for schema migrations or complex queries.

Overall, MongoDB is a good choice for applications that require high scalability, flexible data models, and fast development cycles. However, it may not be the best choice for applications that require complex transactions, strict data consistency, or advanced analytics features.

Q2. State and Explain the features of MongoDB.

MongoDB is a popular document-oriented database management system that is known for its flexibility, scalability, and ease of use. Here are some of the key features of MongoDB:

Document-oriented: MongoDB stores data in flexible, JSON-like documents that can have any number of fields and support nested structures. This makes it easy to represent complex data models in a single document, without having to join multiple tables like in a relational database.

High Performance: MongoDB is designed to deliver high performance with low latency and high throughput. It achieves this through features like native support for sharding and replication, as well as its ability to store data in memory using a memory-mapped storage engine.

Flexible Schema: MongoDB's dynamic schema allows for easy modification of data structure and accommodates any new data without affecting the existing structure of the data. It also allows for the addition of new fields to the documents, thereby improving scalability and performance.

Indexing: MongoDB has built-in support for secondary indexes which makes it easy to search, sort and filter data efficiently. It also supports full-text search and geospatial indexing which makes it easier to search for data based on location.

Aggregation: MongoDB supports advanced aggregation functions that allow users to perform complex queries that involve grouping, filtering, and calculating results on the fly.

Replication and High Availability: MongoDB provides automatic and flexible replication and failover which ensures that the database remains available in the event of hardware or software failures. This also makes it easy to scale horizontally by adding more nodes to the cluster.

Ad-hoc Queries: MongoDB supports ad-hoc queries, which allows users to perform complex queries that can be changed on the fly. This feature provides flexibility in data analysis and retrieval.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [12]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\ayush\anaconda3\lib\site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\ayush\anaconda3\lib\site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [13]:
import pymongo

In [14]:

client = pymongo.MongoClient("mongodb+srv://ayush007:ayush007@cluster007.gub2lyy.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [15]:
client = pymongo.MongoClient("mongodb+srv://ayush007:ayush007@cluster007.gub2lyy.mongodb.net/?retryWrites=true&w=majority")

In [16]:
client

MongoClient(host=['ac-2r8yucp-shard-00-01.gub2lyy.mongodb.net:27017', 'ac-2r8yucp-shard-00-00.gub2lyy.mongodb.net:27017', 'ac-2r8yucp-shard-00-02.gub2lyy.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-1gc50d-shard-0', tls=True)

In [19]:
db=client["DataScience"]

In [20]:
coll_create=db["course_details"]

In [37]:
data={
    "mentor name ": "sudhanshu gupta",
    "course duration":"8 months"
}

In [39]:
coll_create.insert_one(data)

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [40]:
data1={
   " mail_id" : "sudh@gmail.com",
         "phone_number" :2343243242

}

In [41]:
coll_create.insert_one(data1)

In [69]:
data2 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" },
  { "name": "Amy", "address": "Apple st 652"  },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
]

In [70]:
coll_create.insert_many(data2)

In [71]:
coll_create.find_one()

{'_id': ObjectId('6423fd2f2d7dc475292b76fd'),
 'mentor name ': 'sudhanshu gupta',
 'course duration': '8 months'}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

In MongoDB, the find() method is used to query the database and retrieve data from a collection. The find() method returns a cursor to the collection that contains the documents that match the specified query criteria.

In [72]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('6423fd2f2d7dc475292b76fd'), 'mentor name ': 'sudhanshu gupta', 'course duration': '8 months'}
{'_id': ObjectId('6423fe202d7dc475292b76fe'), ' mail_id': 'sudh@gmail.com', 'phone_number': 2343243242}
{'_id': ObjectId('6423fe582d7dc475292b76ff'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6423fe582d7dc475292b7700'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6423fe582d7dc475292b7701'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6423fe582d7dc475292b7702'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6423fe582d7dc475292b7703'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6423fe582d7dc475292b7704'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6423fe582d7dc475292b7705'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6423fe582d7dc475292b7706'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6423fe582d7dc475292b7707'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6423fe582d7dc475292b7708'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6423fe582d7dc475292b7709'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6423fe582d7dc475292b770a'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('642402592d7dc475292b770b'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('642402592d7dc475292b770c'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('642402592d7dc475292b770d'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('642402592d7dc475292b770e'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('642402592d7dc475292b770f'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('642402592d7dc475292b7710'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('642402592d7dc475292b7711'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('642402592d7dc475292b7712'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('642402592d7dc475292b7713'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('642402592d7dc475292b7714'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('642402592d7dc475292b7715'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('642402592d7dc475292b7716'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('642402592d7dc475292b7717'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('642402592d7dc475292b7718'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('642402592d7dc475292b7719'), 'name': 'Michael', 'address': 'Valley 345'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

n MongoDB, the sort() method is used to sort the documents in a collection based on a specified field. The sort() method takes a dictionary as an argument where the keys represent the fields to sort on and the values are either 1 for ascending order or -1 for descending order.

In [73]:
result=coll_create.find().sort("name")

In [74]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('6423fd2f2d7dc475292b76fd'), 'mentor name ': 'sudhanshu gupta', 'course duration': '8 months'}
{'_id': ObjectId('6423fe202d7dc475292b76fe'), ' mail_id': 'sudh@gmail.com', 'phone_number': 2343243242}
{'_id': ObjectId('6423fe582d7dc475292b76ff'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6423fe582d7dc475292b7700'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6423fe582d7dc475292b7701'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6423fe582d7dc475292b7702'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6423fe582d7dc475292b7703'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6423fe582d7dc475292b7704'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6423fe582d7dc475292b7705'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6423fe582d7dc475292b7706'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6423fe582d7dc475292b7707'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6423fe582d7dc475292b7708'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6423fe582d7dc475292b7709'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6423fe582d7dc475292b770a'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('642402592d7dc475292b770b'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('642402592d7dc475292b770c'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('642402592d7dc475292b770d'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('642402592d7dc475292b770e'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('642402592d7dc475292b770f'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('642402592d7dc475292b7710'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('642402592d7dc475292b7711'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('642402592d7dc475292b7712'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('642402592d7dc475292b7713'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('642402592d7dc475292b7714'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('642402592d7dc475292b7715'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('642402592d7dc475292b7716'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('642402592d7dc475292b7717'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('642402592d7dc475292b7718'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('642402592d7dc475292b7719'), 'name': 'Michael', 'address': 'Valley 345'}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

delete_one(): This method deletes a single document that matches the specified criteria. If multiple documents match the criteria, only the first matching document will be deleted.

delete_many(): This method deletes all documents that match the specified criteria.

Both delete_one() and delete_many() take a dictionary as an argument that specifies the criteria for deleting documents. For example, to delete a document where the "name" field is "John":

drop(): This method drops (deletes) an entire collection from the database. This is useful when you want to delete a collection and all of its documents

In [77]:
coll_create.delete_many({"name":"amy"})

In [78]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('6423fd2f2d7dc475292b76fd'), 'mentor name ': 'sudhanshu gupta', 'course duration': '8 months'}
{'_id': ObjectId('6423fe202d7dc475292b76fe'), ' mail_id': 'sudh@gmail.com', 'phone_number': 2343243242}
{'_id': ObjectId('6423fe582d7dc475292b76ff'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6423fe582d7dc475292b7700'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6423fe582d7dc475292b7701'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6423fe582d7dc475292b7702'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6423fe582d7dc475292b7703'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6423fe582d7dc475292b7704'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6423fe582d7dc475292b7705'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6423fe582d7dc475292b7706'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6423fe582d7dc475292b7707'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6423fe582d7dc475292b7708'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6423fe582d7dc475292b7709'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6423fe582d7dc475292b770a'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('642402592d7dc475292b770b'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('642402592d7dc475292b770c'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('642402592d7dc475292b770d'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('642402592d7dc475292b770e'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('642402592d7dc475292b770f'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('642402592d7dc475292b7710'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('642402592d7dc475292b7711'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('642402592d7dc475292b7712'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('642402592d7dc475292b7713'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('642402592d7dc475292b7714'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('642402592d7dc475292b7715'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('642402592d7dc475292b7716'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('642402592d7dc475292b7717'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('642402592d7dc475292b7718'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('642402592d7dc475292b7719'), 'name': 'Michael', 'address': 'Valley 345'}