Q1. List any five functions of the pandas library with execution.

In [2]:
import pandas as pd

1 read_csv() - used to read data from a CSV file and store it as a pandas DataFrame.

pd.read_csv("")

2 head() - used to display the first few rows of a DataFrame.

df.head()

3 describe() - used to generate descriptive statistics for the DataFrame.

df.describe()

4 groupby() - used to group data in a DataFrame by one or more columns.


df.groupby()

5 plot() - used to generate different types of plots from the data in a DataFrame.

df.plot(kind='line', x='x_column', y='y_column')

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [10]:
df = {"A":[2,3,4,5 ],
     "B":[4,5,6,7],
     "C":[2,3,4,5]}
df=pd.DataFrame(df)

In [11]:
df

   A  B  C
0  2  4  2
1  3  5  3
2  4  6  4
3  5  7  5

4

In [21]:
import pandas as pd

def reindex_dataframe(df):
    new_index = range(1, len(df)*2, 2)
    df.index = new_index
    return df

In [22]:
new_df = reindex_dataframe(df)
new_df

   A  B  C
1  2  4  2
3  3  5  3
5  4  6  4
7  5  7  5

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

In [47]:
df={"values":[10,20,30,40,50,60]}

In [48]:
df

{'values': [10, 20, 30, 40, 50, 60]}

In [52]:
 df1=pd.DataFrame(df)

In [56]:
df1["values"][0:3].sum()

60

In [61]:
values=df1["values"].head(3)

In [62]:
total=sum(values)

In [63]:
total

60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [74]:
pd.set_option("display.max_colwidth",10000)
df=pd.DataFrame({'desc':["This class is designed to provide students with a comprehensive understanding of APIs (Application Programming Interfaces) in web development. Students will learn how to design, develop, and implement APIs, as well as how to integrate them with various web applications. The course will cover topics such as RESTful APIs, JSON data format, HTTP methods, and API security. By the end of the class, students will have a solid understanding of how APIs work and how to use them effectively in web development projects.","This course has been designed to help you become a complete and professional Java professional. This unique industrial program will teach you the entire Java Development process which helps to land jobs in top organizations by developing industry-ready projects. After completing this course, you will have a thorough understanding of various Data Structures and Algorithms with System Design in Java which will further enhance your career as a Java developer.","Buckle up and get ready to take your trading game to the next level with our Technical Analysis Series! In this series, we dive deep into the world of technical analysis and provide you with actionable insights and strategies that you can use to make informed trading decisions."]})

In [75]:
df

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  desc
0  This class is designed to provide students with a comprehensive understanding of APIs (Application Programming Interfaces) in web development. Students will learn how to design, develop, and implement APIs, as well as how to integrate them with various web applications. The course will cover topics such as RESTful APIs, JSON data format, HTTP methods, and API security. By the end of the class, students will have a solid understanding of how APIs work and how to use them effectively in web development projects.
1                                                         This course has been designed to help you become a complete and professional Java professional. This unique industrial program will teach you the entire Java Development process which helps to land jobs in top organizations by developing industry-ready projects. After completing this course, you will have a thorough understanding of various Data Structures and Algorithms with System Design in Java which will further enhance your career as a Java developer.
2                                                                                                                                                                                                                                               Buckle up and get ready to take your trading game to the next level with our Technical Analysis Series! In this series, we dive deep into the world of technical analysis and provide you with actionable insights and strategies that you can use to make informed trading decisions.

In [76]:
df["Word_count"]=df["desc"].apply(len)

In [77]:
df

,desc,Word_count
0,"This class is designed to provide students with a comprehensive understanding of APIs (Application Programming Interfaces) in web development. Students will learn how to design, develop, and implement APIs, as well as how to integrate them with various web applications. The course will cover topics such as RESTful APIs, JSON data format, HTTP methods, and API security. By the end of the class, students will have a solid understanding of how APIs work and how to use them effectively in web development projects.",515
1,"This course has been designed to help you become a complete and professional Java professional. This unique industrial program will teach you the entire Java Development process which helps to land jobs in top organizations by developing industry-ready projects. After completing this course, you will have a thorough understanding of various Data Structures and Algorithms with System Design in Java which will further enhance your career as a Java developer.",460
2,"Buckle up and get ready to take your trading game to the next level with our Technical Analysis Series! In this series, we dive deep into the world of technical analysis and provide you with actionable insights and strategies that you can use to make informed trading decisions.",278

Q5. How are DataFrame.size() and DataFrame.shape() different?

DataFrame.size(): This method returns the total number of elements in a DataFrame. The returned value is calculated as the product of the number of rows and the number of columns in the DataFrame. The method does not take any arguments.

DataFrame.shape(): This method returns a tuple containing the number of rows and the number of columns in a DataFrame. The returned value is in the form of (rows, columns). The method does not take any arguments.

In [78]:
df={"Name":["ayush","sudh","krish","adarsh"],
     "Age":[23,33,36,23],
    "Gender":["Male","Male","Male","Female"]
   }

In [79]:
df

{'Name': ['ayush', 'sudh', 'krish', 'adarsh'],
 'Age': [23, 33, 36, 23],
 'Gender': ['Male', 'Male', 'Male', 'Female']}

In [80]:
df=pd.DataFrame(df)

In [81]:
df

     Name  Age  Gender
0   ayush   23    Male
1    sudh   33    Male
2   krish   36    Male
3  adarsh   23  Female

In [90]:
print(f"the shape of dataframe is {df.shape}")

the shape of dataframe is (4, 3)

In [91]:
print(f"the size of dataframe is {df.size}")

the size of dataframe is 12

Q6. Which function of pandas do we use to read an excel file?

In [92]:
pd.read_excel

<function pandas.io.excel._base.read_excel(io, sheet_name: 'str | int | list[IntStrT] | None' = 0, header: 'int | Sequence[int] | None' = 0, names=None, index_col: 'int | Sequence[int] | None' = None, usecols=None, squeeze: 'bool | None' = None, dtype: 'DtypeArg | None' = None, engine: "Literal['xlrd', 'openpyxl', 'odf', 'pyxlsb'] | None" = None, converters=None, true_values: 'Iterable[Hashable] | None' = None, false_values: 'Iterable[Hashable] | None' = None, skiprows: 'Sequence[int] | int | Callable[[int], object] | None' = None, nrows: 'int | None' = None, na_values=None, keep_default_na: 'bool' = True, na_filter: 'bool' = True, verbose: 'bool' = False, parse_dates=False, date_parser=None, thousands: 'str | None' = None, decimal: 'str' = '.', comment: 'str | None' = None, skipfooter: 'int' = 0, convert_float: 'bool | None' = None, mangle_dupe_cols: 'bool' = True, storage_options: 'StorageOptions' = None) -> 'DataFrame | dict[IntStrT, DataFrame]'>

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

In [102]:
df={"EmailId":["ayushrathore@gmail.com","sudhkumar@gmail.com","krishnaik@gmail.com"]}

In [103]:
df=pd.DataFrame(df)

In [104]:
df

                  EmailId
0  ayushrathore@gmail.com
1     sudhkumar@gmail.com
2     krishnaik@gmail.com

In [107]:

    df["username"]=df["EmailId"].apply(lambda x:x.split("@")[0])

In [108]:
df

                  EmailId      username
0  ayushrathore@gmail.com  ayushrathore
1     sudhkumar@gmail.com     sudhkumar
2     krishnaik@gmail.com     krishnaik

# Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
  A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2
Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [111]:
df={"A":[3,8,6,2,9],
    "B":[5,2,9,3,1],
    "C":[1,7,4,5,2]}

In [112]:
df

{'A': [3, 8, 6, 2, 9], 'B': [5, 2, 9, 3, 1], 'C': [1, 7, 4, 5, 2]}

In [113]:
df=pd.DataFrame(df)

In [114]:
df

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2

In [142]:
df1=df[(df['A'] > 5) &(df['B'] < 10)]

In [143]:
df1

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [148]:
df={"A":[3,8,6,2,9],
    "B":[5,2,9,3,1],
    "C":[1,7,4,5,2]}
    
df=pd.DataFrame(df)

In [149]:
df

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2

In [150]:
df.mean()

A    5.6
B    4.0
C    3.8
dtype: float64

In [151]:
df.std()

A    3.049590
B    3.162278
C    2.387467
dtype: float64

In [154]:
df.median()

A    6.0
B    3.0
C    4.0
dtype: float64

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [194]:
df={"Sales":[10,11,23,12,32,32,14,23,43,11],
     "Date":pd.date_range(start='2022-03-22',periods=10,freq="D")}

In [205]:
df["MovingAverage"]= df["Sales"].rolling(window=7,min_periods=1).mean()

In [206]:
df

   Sales       Date  MovingAverage
0     10 2022-01-01      10.000000
1     11 2022-01-02      10.500000
2     23 2022-01-03      14.666667
3     12 2022-01-04      14.000000
4     32 2022-01-05      17.600000
5     32 2022-01-06      20.000000
6     14 2022-01-07      19.142857
7     23 2022-01-08      21.000000
8     43 2022-01-09      25.571429
9     11 2022-01-10      23.857143

In [201]:
df=pd.DataFrame({"Sales":[10,11,23,12,32,32,14,23,43,11],"Date":pd.date_range(start='2022-01-01',periods=10,freq='D')})

In [202]:
df

   Sales       Date
0     10 2022-01-01
1     11 2022-01-02
2     23 2022-01-03
3     12 2022-01-04
4     32 2022-01-05
5     32 2022-01-06
6     14 2022-01-07
7     23 2022-01-08
8     43 2022-01-09
9     11 2022-01-10

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [240]:
Date=pd.date_range(start="2023-01-01",periods=5)

In [241]:
Date

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05'],
              dtype='datetime64[ns]', freq='D')

In [246]:
df_date=pd.DataFrame({"Date":Date})

In [248]:
df_date.dtypes

Date    datetime64[ns]
dtype: object

In [252]:
df_date['update_date'] = pd.to_datetime(df_date['Date'])

In [253]:
df_date

        Date update_date
0 2023-01-01  2023-01-01
1 2023-01-02  2023-01-02
2 2023-01-03  2023-01-03
3 2023-01-04  2023-01-04
4 2023-01-05  2023-01-05

In [255]:
df_date["weekday_name"]=df_date["update_date"].dt.day_name()

In [256]:
df_date

        Date update_date weekday_name
0 2023-01-01  2023-01-01       Sunday
1 2023-01-02  2023-01-02       Monday
2 2023-01-03  2023-01-03      Tuesday
3 2023-01-04  2023-01-04    Wednesday
4 2023-01-05  2023-01-05     Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [296]:
df=pd.DataFrame({"Date1":["2023-01-01","2023-01-02","2023-02-01","2023-01-20","2023-01-30","2023-01-31","2023-01-23"]})

In [303]:
df["Date1"]=pd.to_datetime(df["Date1"])
df[(df["Date1"]>'2023-01-01') & (df["Date1"]<'2023-01-31')]

       Date1
1 2023-01-02
3 2023-01-20
4 2023-01-30
6 2023-01-23

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?
Answer-We have to import pandas library to use the basic function of pandas'''
import pandas as pd