In [1]:
##Consider following code to answer further questions:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [2]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [3]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [4]:
df.loc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

loc uses labels to access rows or columns of a DataFrame. It allows you to access data based on the labels of the rows and columns, which can be strings or integers. For example, df.loc[0:5, 'column_name'] will return the first six rows of the column with name 'column_name'. The syntax for loc is df.loc[row_labels, column_labels].

iloc uses integer-based indexing to access rows or columns of a DataFrame. It allows you to access data based on the integer position of the rows and columns. For example, df.iloc[0:5, 2] will return the first six rows of the third column. The syntax for iloc is df.iloc[row_indices, column_indices].

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].
Did you observe any difference in both the outputs? If so then explain it.
Consider the below code to answer further questions:

In [5]:
reindex=[3,0,1,2]

In [6]:
new_df=df.reindex(reindex)

In [7]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [8]:
new_df.iloc[1]

course_name    Data Science
duration                  2
Name: 0, dtype: object

In [9]:
new_df.loc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

The main difference is that i have noticed is that iloc takes it default indexes that starts from 0 these are never modified while in the loc the indexes are modified and according to the input index it gives our output

In [10]:

import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [11]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.433259  0.583963  0.816946  0.769400  0.299741  0.487609
2  0.514049  0.550606  0.599564  0.443241  0.829831  0.819763
3  0.752719  0.264486  0.743843  0.995515  0.079337  0.656239
4  0.858579  0.658458  0.820292  0.976527  0.265676  0.196322
5  0.951243  0.097264  0.038933  0.377856  0.408813  0.300197
6  0.196159  0.371168  0.344905  0.389655  0.695614  0.467394

In [12]:
df1['column_1'].mean()

0.6176679364059902

In [13]:
df1["column_2"].mean()

0.42099099503387466

In [14]:
df1["column_3"].mean()

0.5607472525954976

In [15]:
df1["column_4"].mean()

0.6586986872776772

In [16]:
df1["column_5"].mean()

0.4298352233378455

In [17]:
df1["column_6"].mean()

0.48792052289622373

In [18]:
df1["column_2"].std()

0.21518636370823255

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [19]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.433259  0.583963  0.816946  0.769400  0.299741  0.487609
2  0.514049  0.550606  0.599564  0.443241  0.829831  0.819763
3  0.752719  0.264486  0.743843  0.995515  0.079337  0.656239
4  0.858579  0.658458  0.820292  0.976527  0.265676  0.196322
5  0.951243  0.097264  0.038933  0.377856  0.408813  0.300197
6  0.196159  0.371168  0.344905  0.389655  0.695614  0.467394

In [20]:
df1["column_2"][2]="ayush"

In [21]:
df1["column_2"]

1    0.583963
2       ayush
3    0.264486
4    0.658458
5    0.097264
6    0.371168
Name: column_2, dtype: object

In [22]:
df1["column_2"].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

#The above error is occured becuse we can not concat a string with a floating variable 
#to find mean we have to first add all the values present in the column or dataFrame thats why we are getting error

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

Answer-The window functions in Pandas are used to perform some sort of calculations across a set of rows that are interrelated
with the current row. The windows functions help us to perform the aggregated calculations across various partitions or 
cross-sections of the data
types of window functions()-
Rolling window: Generic fixed or variable sliding window over the values.

Weighted window: Weighted, non-rectangular window supplied by the scipy.signal library.

Expanding window: Accumulating window over the values.

Exponentially Weighted window: Accumulating and exponentially weighted window over the values

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [ ]:
import pandas as pd
import datetime
current_time = pd.datetime.now()
current_month = current_time.month
current_year = current_time.year

print("Current month and year:", current_month, current_year)

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [25]:
firstdate=input("Enter the first date in YYYY-MM-DD")
seconddate=input("Enter the second date in YYYY-MM-DD")
firstdate=pd.to_datetime(firstdate)
seconddate=pd.to_datetime(seconddate)
delta= seconddate-firstdate
print(f"the difference between {firstdate} and {seconddate} is {delta.days}days")

Enter the first date in YYYY-MM-DD2023-12-28
Enter the second date in YYYY-MM-DD2026-12-15
the difference between 2023-12-28 00:00:00 and 2026-12-15 00:00:00 is 1083days

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [ ]:
file_path=input("Enter your file path  where CSV file is stored ")
col_name=input("Enter the column name you want to convert to categorical")
cat_order=input("enter the category order")
df=pd.read_csv(file_path)
df[col_name]=df[col_name].astype("category")
df[col_name].sort_values

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [65]:
import pandas as pd
import matplotlib.pyplot as plt
#df=pd.read_csv("BLR_ARRIVAL.CSV")

df=pd.read_csv("BLR_ARRIVAL.CSV", encoding='latin1')

In [66]:
df

,Date_wise,Flight_No,Airlines_Name,Departure_City_Code,Departure_City,Departure_Airport,Departure_Date,Departure_time_scheduled,Departure_time_estimated,Departure_terminal,...,Arrival_time_scheduled,Arrivial_time_estimated,Arrival_terminal,Flight_Status,Flight_Time_status,Flight_delay_by_time,Flight_time,Flight_distance,Aircraft_equipment_code,Aircraft_equipment_description
0,19-06-2022,6E 2532,IndiGo,DEL,Delhi,Indira Gandhi International Airport,18-06-2022,20:10 IST,20:24 IST,2,...,23:00 IST,00:06 IST,1.0,Arrived,Delayed,1h 6m,3h 42m,1062 mi,32Q,Airbus A321neo
1,19-06-2022,UK 857,Vistara,BOM,Mumbai,Chhatrapati Shivaji International Airport,18-06-2022,21:30 IST,21:44 IST,2,...,23:10 IST,00:07 IST,NaN,Arrived,Delayed,57m,2h 23m,518 mi,32N,Airbus A320neo
2,19-06-2022,6E 7166,IndiGo,TRZ,Tiruchirappalli,Tiruchirapalli International Airport,18-06-2022,22:35 IST,22:22 IST,NaN,...,23:30 IST,00:01 IST,1.0,Arrived,Delayed,31m,1h 39m,181 mi,AT7,ATR 72
3,19-06-2022,6E 6354,IndiGo,LKO,Lucknow,Chaudhary Charan Singh International Airport,18-06-2022,21:15 IST,21:22 IST,2,...,23:40 IST,00:15 IST,1.0,Arrived,Delayed,35m,2h 53m,959 mi,32N,Airbus A320neo
4,19-06-2022,6E 6505,IndiGo,HYD,Hyderabad,Rajiv Gandhi International Airport,18-06-2022,22:30 IST,22:39 IST,NaN,...,23:40 IST,00:18 IST,1.0,Arrived,Delayed,38m,1h 39m,283 mi,320,Airbus A320
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8973,13-07-2022,GF 282,Gulf Air,BAH,Bahrain,Bahrain International Airport,13-07-2022,20:25 +03,21:24 +03,NaN,...,03:55 IST,04:11 IST,NaN,Arrived,Delayed,16m,4h 17m,1973 mi,320,Airbus A320
8974,13-07-2022,BA 119,British Airways,LHR,London,London Heathrow Airport,13-07-2022,14:15 BST,16:37 BST,5,...,04:45 IST,06:51 IST,NaN,Arrived,Delayed,2h 6m,9h 44m,5000 mi,NaN,NaN
8975,13-07-2022,AA 6655,American Airlines,LHR,London,London Heathrow Airport,13-07-2022,14:15 BST,16:37 BST,5,...,04:45 IST,06:51 IST,NaN,Arrived,Delayed,2h 6m,9h 44m,5000 mi,NaN,NaN
8976,13-07-2022,IB 7357,Iberia,LHR,London,London Heathrow Airport,13-07-2022,14:15 BST,16:37 BST,5,...,04:45 IST,06:51 IST,NaN,Arrived,Delayed,2h 6m,9h 44m,5000 mi,NaN,NaN
8977,13-07-2022,6E 96,IndiGo,DXB,Dubai,Dubai Airport,13-07-2022,23:10 +04,23:11 +04,1,...,05:05 IST,04:44 IST,1.0,Arrived,On time,NaN,4h 3m,1675 mi,32N,Airbus A320neo

In [69]:
df["Date_wise"]=pd.to_datetime(df["Date_wise"])

In [70]:
df["Date_wise"]

0      2022-06-19
1      2022-06-19
2      2022-06-19
3      2022-06-19
4      2022-06-19
          ...
8973   2022-07-13
8974   2022-07-13
8975   2022-07-13
8976   2022-07-13
8977   2022-07-13
Name: Date_wise, Length: 8978, dtype: datetime64[ns]

In [139]:
df_grouped=df.groupby(["Date_wise","Airlines_Name"])["Departure_Airport"].sum().reset_index()

In [140]:
df_grouped

,Date_wise,Airlines_Name,Departure_Airport
0,2022-01-07,ANA,Changi International AirportSuvarnabhumi Airport
1,2022-01-07,Air Arabia PJSC,Sharjah International Airport
2,2022-01-07,Air Canada,Frankfurt AirportIndira Gandhi International A...
3,2022-01-07,Air France,Amsterdam Airport SchipholIndira Gandhi Intern...
4,2022-01-07,Air India,Indira Gandhi International AirportDabolim Air...
...,...,...,...
904,2022-12-07,Thai Airways International,Suvarnabhumi Airport
905,2022-12-07,TruJet,Jindal AirportBidar Airport
906,2022-12-07,Turkish Airlines,Istanbul AirportChhatrapati Shivaji Internatio...
907,2022-12-07,United Airlines,Indira Gandhi International Airport
908,2022-12-07,Vistara,Chhatrapati Shivaji International AirportPune ...

In [144]:
df_pivoted = df_grouped.pivot(index='Date_wise', columns='Airlines_Name', values='Departure_Airport')

In [146]:
ax = df_pivoted.plot.bar(stacked=True, figsize=(10, 6))

ax.set_xlabel('Date_wise')


ax.set_ylabel('Flight_delay_by_time')



plt.show()

TypeError: no numeric data to plot

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results
in a table.

In [148]:
import pandas as pd
file=str(input("Enter the file path"))
df=pd.read_csv(file)
mean=df['Test Score'].mean()
median=df['Test Score'].median()
mode=df['Test Score'].mode()[0] #it will give pandas serires so we use [0]
new_df=pd.DataFrame({"Statistic":["mean","mode","median"],"Score":[mean,median,mode]})
print(new_df)

Enter the file pathTest Score

FileNotFoundError: [Errno 2] No such file or directory: 'Test Score'